<div class="container" ng-controller="TripsController">
    <div class="row">
        <div class="col-md-6">
            <h1>{{trip.driverName}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <span>From:</span>
            <strong>{{trip.from}}</strong>
            <span>To:</span>
            <strong>{{trip.to}}</strong>
            <span>Number of free seats:</span>
            <strong>{{trip.availableSeats}}</strong>
        </div>
    </div>
</div>